@import url("reset.css");
@import url("fonts.css");
.wrapper{
    position: relative;
    min-height: 100%;
    overflow: clip;
    
    display: flex;
	flex-direction: column;

    font-size: 17px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}
.wrapper > main {
	flex-grow: 1;
}

[class*="__container"]{
    max-width: 1230px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header__container{
    display: flex;
    min-height: 108px;
    padding: 5px 0;
    align-items: center;
    justify-content: space-between;
}

.header__img {
    height: 100%;
}

.menu{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 118px;
}

.menu__list {
    display: flex;
    gap: 10px 61px;
    flex-wrap: wrap;
}

.menu__link {
    font-size: 16px;
    color: #343434;
}

.menu__link:hover{
    border-bottom: 2px solid #BA936F;
}

.header__button{
    color: #FFFFFF;
    background-color: #BA936F;
    padding: 10px 47px;
    border-radius: 15px; 
    font-weight: 500;
}

.header__icon-menu {
    display: none;
}

