@import url("reset.css");
@import url("fonts.css");
.wrapper{
    position: relative;
    min-height: 100%;
    overflow: clip;
    
    display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}

.wrapper {
    font-family: "Playfair Display", serif;
    font-weight: 400;
}

[class*=__container] {
    max-width: 63.5rem;
    margin: 0 auto;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.header__container {
    max-width: 60.1875rem;
    display: flex;
    justify-content: space-between;
    min-height: 5.9375rem;
    text-align: center;
    padding-top: 1.463rem;
    color: #FFFFFF;
}

.header__logo {
    font-size: 2.25rem;
    text-transform: uppercase;
}

.header.header--scrolled {
    background-color: rgba(133, 131, 131, 0.7);
}

.menu__list {
    display: flex;
    gap: 2rem;
    padding-top: 1.5rem;
}

.menu__item {
    font-size: 0.75rem;
}

.menu__item:hover{
    border-bottom: 0.0625rem solid white;
}

.header__icon-menu {
    display: none;
}

.hero {
    background: url(../img/Home.webp) center / cover no-repeat;
    width: 100%;
    max-width: 100%;
    height: 100vh;
}

.hero__container {
    max-width: 60.1875rem;
    display: flex;
    justify-content: flex-end;
}

.hero__content{
    display: flex;
    color: #FFFFFF;
    flex-direction: column;
    position: relative;
    top: 10.9375rem;
    padding-right: 0.4375rem;
    text-align: center;
}

.hero__title {
    font-size: 2.9375rem;
    padding-bottom: 1.5rem;
}

.hero__text {
    font-size: 0.875rem;
    padding-bottom: 5rem;
}

.hero__link {
    text-decoration: none;
    font-size: 0.8125rem;
    border: 0.0625rem solid #F8F8F8;
    padding: 0.5rem 0.8125rem;
    max-width: 8.25rem;
    margin: 0 auto;
}

.hero__link:hover {
    background-color: #F8F8F860;
}

.about__container {
    padding-top: 5.25rem;
    text-align: center;
    padding-bottom: 6.3125rem;
}

.about__title {
    font-size: 1.875rem;
}

.about__content {
    margin-top: 8.75rem;
    display: flex;
    gap: 13.75rem;
    margin-bottom: 8.4375rem;
}

.info-about {
    max-width: 28.0625rem;
    margin-top: 1.5625rem;
    display: flex;
    flex-direction: column;
    row-gap: 2.1875rem;
    text-align: start;
    color: black;
}

.info-about__title {
    font-size: 1.875rem;
}

.info-about__text-top, .info-about__text-bottom {
    font-size: 1rem;
}

.about__img {
    max-width: 19.8125rem;
}

.about__link {
    font-size: 0.875rem;
    max-width: 8.25rem;
    border: 0.0625rem solid black;
    padding: 0.5625rem 3.0625rem;
    margin: 0 auto;
}

.about__link:hover {
    background-color: rgb(148, 145, 145);
}

.cosmetics-info::after {
    content: "";
    height: 0.0625rem;
    background-color: #837F7F;
    max-width: 61.625rem;
    display: block;
    margin: 0 auto;
}

.cosmetics-info::before {
    content: "";
    height: 0.0625rem;
    background-color: #837F7F;
    max-width: 61.625rem;
    display: block;
    margin: 0 auto;
}

.cosmetics-info__container {
    text-align: center;
    padding-top: 3.9375rem;
    padding-bottom: 7.3125rem;
    color: black;
}

.cosmetics-info__title {
    font-size: 2.25rem;
    margin-bottom: 1.9375rem;
}

.menu-cosmetics-info {
    margin-bottom: 6.3125rem;
}

.menu-cosmetics-info__list {
    display: flex; 
    flex-direction: column;
    row-gap: 1.375rem;
    font-size: 1rem;
}

.menu-cosmetics-info__item a:hover::after{
    content: "";
    position: relative;
    top: 0.625rem;
    display: block;
    height: 0.0625rem;
    width: 100%;
    background-color: black;
    max-width: 6.25rem;
    margin: 0 auto;
}

.cosmetics-info__content {
    margin-bottom: 7.375rem;
}

.content-block {
    margin-bottom: 7.375rem;
}

.content-block__list {
    display: flex;
    max-width: 49rem;
    row-gap: 4.75rem;
    column-gap: 5.75rem;
    flex-wrap: wrap;
    margin: 0 auto;
}

.content-block__item figure{
    max-width: 12.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.9375rem;
}

.content-block__img {
    max-width: 12.5rem;
}

.content-block__figcaption {
    font-size: 1.25rem;
}

.cosmetics-info__link{
    border: 0.0625rem solid black;
    padding: 0.625rem 3.125rem;
    max-width: 8.3125rem;
    margin: 0 auto;
}

.cosmetics-info__link:hover{
    background-color: rgb(148, 145, 145);
}

footer{
    text-align: center;
    font-size: 1rem;
}

@media (width <= 60.375rem) { 
    .about__content{
        gap: 6.25rem;
        justify-content: center;
    }
}

@media (width <= 51.25rem) {
    .info-about {
        max-width: 21.875rem;
    }

    .content-block__item figure {
        max-width: 15.625rem;
    }

    .content-block__img {
        max-width: 100%;
        width: 100%;
    }

    .content-block__list {
        justify-content: center;
    }

    .hero {
        max-height: 43.75rem;
    }
}

@media (width <= 45.125rem) {
    .content-block__item figure {
        max-width: 100%;
    }

    .content-block__list {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .about__content {
        margin-top: 3.125rem;
        display: flex;
        flex-direction: column;
        margin-bottom: 3.125rem;
    }

    .info-about {
        max-width: 100%;
    }

    .about__img {
        max-width: 100%;
    }

    .about__container {
        padding-top: 3.125rem;
        padding-bottom: 3.125rem;
    }
}

@media (width <= 36.125rem) {
    .menu {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 100%;
		z-index: 1;
		overflow: auto;
		transition: left 0.3s;
        background-color: rgba(133, 131, 131, 0.9);
	}

    .header__logo {
        z-index: 3;
    }

    .menu__list {
        flex-direction: column;
        margin: 0 auto;
        position: relative;
        top: 20%;
        color: black;
    }

    .menu__item {
        font-size: 1.875rem;
    }

	.menu::before {
		content: "";
		position: fixed;
		width: 100%;
		height: 4.375rem;
		top: 0;
		left: 100%;
		transition: left 0.3s;
		z-index: 2;
	}

    .header__icon-menu {
        position: relative;
		display: block;
		width: 1.875rem;
		height: 1.5625rem;
		flex-shrink: 0;
        z-index: 1;
	}

    .header__icon-menu span,
	.header__icon-menu::before,
	.header__icon-menu::after {
		content: "";
		height: 0.25rem;
		width: 1.875rem;
		position: absolute;
		right: 0;
		transition: all 0.3s;
		background-color: white;
        border-radius: 0.125rem;
	}

	.header__icon-menu::before {
		top: 0;
	}

	.header__icon-menu::after {
		bottom: 0;
	}

	.header__icon-menu span {
		top: 50%;
		translate: 0 -50%;
	}

    [data-menu-open] .header__icon-menu span {
		width: 0;
	}
	[data-menu-open] .header__icon-menu::before {
		rotate: -45deg;
		translate: 0 -50%;
		top: 50%;
	}
	[data-menu-open] .header__icon-menu::after {
		rotate: 45deg;
		translate: 0 50%;
		bottom: 50%;
	}
	[data-menu-open] .menu,
	[data-menu-open] .menu::before {
		left: 0;
	}

    .cosmetics-info__container {
        padding-top: 3.125rem;
        padding-bottom: 3.125rem;
    }
}

@media (width <= 24.6875rem ) {
    .hero__title {
        font-size: 1.875rem;
    }
}
