@import url("reset.css");
.wrapper{
    position: relative;
    min-height: 100%;
    overflow: clip;
}

main{
    background-color: rgb(130, 130, 132);
    margin-bottom: 0;
}

.header{
    font-size: 50px;
    text-align: center;
    margin-bottom: 100px;
}

.footer__text{
    margin-bottom: 0;
    margin-top: 0;
    font-size: 50px;
    text-align: center;
}

.scene {
    position: relative;
    height: 500px;
    border: 2px solid black;
}

.scene__road {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    background: #292929;
    background: linear-gradient(55deg,rgba(41, 41, 41, 1) 0%, rgba(99, 99, 99, 1) 100%);
}

.scene__car {
    position: absolute;
    left: 60%;
    top: 80%;
}

.car > *{
    position: absolute;
}

.car__body-bottom{
    width: 800px;
    height: 150px;
    background: rgb(138, 11, 11);
    translate: -500px -250px;
    border-radius: 50% 20% 10% 5% / 45% 10% 34% 75%;
    border-bottom: 10px solid black;
    border-top: 20px solid rgb(91, 5, 5);
}

.car__underwing{
    width: 160px;
    height: 90px;
    background: rgb(40, 39, 39);
    border-radius: 51% 49% 95% 5% / 100% 100% 0% 0%;
    translate: -450px -191px;
    border-top: 10px solid rgb(94, 4, 4);
    border-left: 10px solid rgb(94, 4, 4);
    border-right: 10px solid rgb(94, 4, 4);
}

.car__underwing::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 20px;
    border-radius: 5px;
    background-color: #6a1010;
    box-shadow: -5px -5px 42px 20px #e88a39;
    rotate: 20deg;
    translate: 1px 30px;
    border: 1px solid black;
}

.car__underwing--back{
    translate: 50px -191px;
}

.car__underwing--back::before{
    translate: 135px 30px;
    rotate: -20deg;
}

.car__shadow-front{
    width: 110px;
    height: 30px;
    background: rgb(119, 7, 7);
    translate: -490px -140px;
    border-radius: 100% 0% 74% 26% / 0% 100% 0% 100%;;
}

.car__shadow-side{
    width: 430px;
    height: 70px;
    background: rgb(119, 7, 7);
    translate: -330px -180px;
    border-top-left-radius: 20px;
    border-top-right-radius: 30px;
    box-shadow: -10px -3px 5px 1px rgb(214, 101, 101);
}

.car__sidelight{
    width: 250px;
    height: 20px;
    background: rgb(170, 33, 33);
    translate: -270px -145px;
    border-radius: 11% 89% 100% 0% / 100% 65% 35% 0%;
}

.car__shadow-back{
    width: 130px;
    height: 30px;
    background: rgb(119, 7, 7);
    translate: 170px -140px;
    border-radius: 100% 0% 62% 38% / 0% 0% 100% 100%;
}

.car__body-top-left{
    width: 300px;
    height: 70px;
    background: rgb(138, 11, 11);
    translate: -220px -290px;
    transform: skewX(-50deg);
    border-top-left-radius: 40px;
    border-top-right-radius: 90px;
}

.car__body-top-right{
    width: 200px;
    height: 70px;
    background: rgb(138, 11, 11);
    translate: -50px -290px;
    transform: skewX(70deg);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.car__fin{
    width: 60px;
    height: 43px;
    background: rgb(54, 5, 5);
    translate: 20px -292px;
    rotate: -7deg;
}

.car__windshield {
    width: 10px;
    height: 70px;
    translate: -220px -290px;
    border-right: 5px  solid rgb(0, 0, 0);
    border-top: 2px  solid rgb(0, 0, 0);
    transform: skewX(-30deg);
    rotate: 24deg;
    background: #000000;
    background: linear-gradient(67deg,rgba(0, 0, 0, 1) 0%, rgba(74, 72, 72, 1) 100%);   
}

.car__door {
    position: absolute;
    width: 220px;
    height: 127px;
    background: rgb(170, 10, 10, 0);
    border: 3px solid black;
    translate: -247px -233px;
    border-radius: 10% 90% 22% 78% / 100% 0% 100% 0%;
}

.car__window {
    width: 200px;
    height: 50px;
    translate: -200px -280px;
    transform: skew(-50deg);
    border-top-left-radius: 30px;
    border-top-right-radius: 70px;
    background: #414040;
    border: 5px solid black;
}

.car__window-back{
    width: 100px;
    height: 50px;
    border-radius: 12% 88% 100% 0% / 100% 62% 38% 0%;
    background-color: #414040;
    translate: -30px -280px;
    border: 5px solid black;
}

.car__mirror-leg{
    position: absolute;
    width: 10px;
    height: 20px;
    background-color: rgb(111, 9, 9);
    border: 2px solid black;
    rotate: 36deg;
    translate: -220px -245px;
}

.car__mirror {
    width: 35px;
    height: 20px;
    border-radius: 18% 82% 50% 50% / 79% 57% 43% 21%;
    background-color: rgb(138, 11, 11);
    border: 2px solid black;
    translate: -220px -255px;
    rotate: -5deg;
}

.car__wheel{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    translate: -430px -170px;
    background-color: #383838;
    border: 30px solid black;
}

.car__wheel--back{
    translate: 70px -170px;
}

