@import url("reset.css");
@import url("fonts.css");
.wrapper{
    position: relative;
    min-height: 100%;
    overflow: clip;
    
    display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}

body{
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
}


footer, header{
    font-size: 40px;
    text-align: center;
}

.register__container {
    max-width: 1392px;
    margin: 0 auto;
}

.register__header {
    padding: 82px 0;
    display: flex;
    flex-direction: column;
    row-gap: 36px;
    text-align: center;
    text-transform: uppercase;
}

.register__title {
    font-size: 32px;
    font-weight: 800;
}

.register__text{
    font-weight: 700;
    color: #7E7F7C;
}

.register__content {
    padding: 82px 0;
}

.register__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
}

.form-register {
    display: flex;
    flex-direction: column;
    row-gap: 72px;
    flex: 0 1 712px;
}

.form-register__header {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.form-register__title {
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
}

.form-register__text {
    color: #7E7F7C;
}

.form-register__link {
    font-weight: 700;
    color: #2F302C;
    text-decoration: underline;
}

.form-register__fields {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.form-register__row {
    display: flex;
    gap: 40px;
}

.form-register__field {
    width: 100%;
}

.form-register__input {
    height: 44px; 
    width: 100%; 
    border-bottom: 1px solid #d4d4d4;
}

.form-register__button {
    color: white;
    font-weight: 500;
    background-color: #2F302C;
    padding: 12px 104px;
    min-width: 336px;
    align-self: flex-start;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 50px 50px 60px 80px;
    flex: 0 1 600px;
    min-height: 496px;
    background-color: #F6F6F6;
    position: relative;
}

.banner__img {
    position: absolute;
    top: 0;
    right: 50px;
}

.banner__content {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    max-width: 184px;
}

.banner__badge {
    background-color: #CE0000;
    padding: 4px 8px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    border-radius: 4px;
    align-self: flex-start;
}

.banner__title {
    font-weight: 800;
    font-size: 32px;
    text-transform: uppercase;
}
