@import url("reset.css");



header{
    background: url("../img/fon2.png");
    background-repeat: repeat-x;
    width: 100%;
    max-height: 700px;
    font-size: 50px;
    text-align: center;
    padding: 100px 0;
}

header a{
    color: beige;
}

.tab{
    margin-right: 100px;
}

.block1 {
    padding: 0px 100px;
}

.block1 [class*="text"]{
    font-size: 50px;
    margin-top: 100px;
}

.text1 {
    outline-width: 20px;
	outline-style: double;
	outline-color: rgb(66, 218, 122);
	outline-offset: 10px;
}

.text2 {
    border: 10px dotted rgb(0, 200, 255);
}

.text3 {
    background-color: blueviolet;
    border-radius: 50%;
    padding: 100px 150px;
    opacity: 0.5;
}

.text4 {
    box-shadow: 3px 3px 10px 20px green;
}

.block1 [class*="block"]{
    background-color: green;
    font-size: 50px;
    padding: 100px 20px;
    margin-top: 100px;
    color: white;
}

.block1-in-block1 {
    background-image: url(../img/cat.jpg);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: 70px 100px;
}

.block2-in-block1 {
    background-image: url(../img/cat.jpg);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: center;
}

.block3-in-block1 {
    background-image: url(../img/cat.jpg);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center left;
}

.block4-in-block1 {
    background-image: url(../img/fon3.jpg);
    background-attachment: fixed;
    background-repeat: repeat-x;
}

.block5-in-block1 {
    background-image: url(../img/cat.jpg);
    background-position: right bottom;
    background-size: 50%;
    background-repeat: no-repeat;
    margin-bottom: 100px;
}

.block-header{
    background-image: url(../img/Rectangle.png) left center / cover 
    no-repeat, #d9d9d9;
    padding: 114px 0 110px 0;
}

.header{
    max-width: 1392px;
    margin: 0 auto;
}

.content{
    max-width: 518px;
    margin-left: auto;
}

.title{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 96px;
    font-style: normal;
    line-height: 1.04;
    color: #2F302C;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.title .excerpt{
    font-weight: 800; 
    color: black;    
}

.info, .subtitle{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    line-height: 1.4;
    font-size: 20px;
    font-style: normal;
    padding-bottom: 20px;
    color: black;
    text-transform: uppercase;
}

.info{ 
    max-width: 308px;
    border-top: 1px solid black;
    padding-top: 36px;
}

.content p{
    font-size: 16px;
    font-style: normal;
    font-family: "LatoMedium",sans-serif;
    font-weight: 500;
    line-height: 1.25;
    color: #7E7F7C;
}

.block-list{
    margin-top: 100px;
}

.li-green{
    background-image: url(../img/Size=Medium.png);
    background-repeat: no-repeat;
    min-height: 32px;
    margin-bottom: 15px;
    color: #252b42;
    font-size: 14px;
    font-style: normal;
    font-family: "Montserrat",sans-serif;
    font-weight: 600;
    line-height: 1.7;
    padding-left: 42px;
}

.li-grey{
    background-image: url(../img/check.png);
    background-repeat: no-repeat;
    min-height: 32px;
    margin-bottom: 15px;
    color: #252b42;
    font-size: 14px;
    font-style: normal;
    font-family: "Montserrat",sans-serif;
    font-weight: 600;
    line-height: 1.7;
    padding-left: 42px; 
}

.footer{
    font-size: 60px;
    text-align: center;
}